# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# local files

/scripts/.vscode/settings.json
/scripts/.vscode/
/scripts/output/
/scripts/*.csv
/scripts/*.txt
.vscode/
/scripts/upload
/scripts/findrec
/scripts/seek1
/scripts/seek2
*.exe

/scripts/Arquivos/*.bin
/scripts/Arquivos/*.txt
